extends advlayout.pug
block content
    div(class="container")
        h1 #{data.about.subtitle}
        p #{data.about.parOne}
        br
        p(class="ital") #{data.about.parTwo}
        br
        p #{data.about.parThree}