extends layout.pug
block content
    form(method="post")
        input(type="text" name="title" placeholder="Name")
        textarea(name="body", cols="30", rows="10")
        button(type="submit") Send

